<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qf.search.dao.TbProductsIndexMapper" >
  <select id="getProductsByPid" parameterType="string" resultType="com.qf.search.pojo.vo.TbProductsIndex">
    select
    p.pid as id,
    p.pname,
    p.sell_point as sellPoint,
    p.pdesc,
    p.price,
    p.pimage
    from tb_products p
    where p.pid=#{pid}
  </select>
</mapper>